.wh_content_all{
  background-color :rgba(249,249,249,1) !important;
  color: black !important;
}

/*今天*/
.wh_content_item .wh_isToday[data-v-2ebcbc83]{
    background-color:rgb(139, 175, 241);
}
/*日历点击*/
.wh_content_item .wh_chose_day[data-v-2ebcbc83]{
     background-color:transparent; 
}
/*日历划过*/
.wh_item_date[data-v-2ebcbc83]:hover{
    background-color:rgb(111, 223, 223);
    border-radius: 100%;
}