.el-tree-node__label
{
    font-size: 12px;
}
.el-tree .el-tree-node__expand-icon.expanded
{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.el-tree .el-icon-caret-right:before
{
    background: url("../views/SystemMg/MEWSRule/images/文件夹.png") no-repeat;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    background-size: 15px;
}

.el-tree-node__expand-icon.is-leaf::before
{
    // display: none;
    background: url("../views/SystemMg/MEWSRule/images/子菜单.png") no-repeat;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    background-size: 15px;
}
.el-tree-node__content{
  background: #F5F8FA;
  height: 36px;
}
.el-tree-node.is-current > .el-tree-node__content {
  background-color: #FDE9BE !important;
  color: #333333;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-scrollbar__bar.is-horizontal{
  overflow-x: hidden;
}




