// base color
$blue:#324157;
$light-blue:#32425f;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #32425f;

// sidebar
$menuText:#adbacc; // 侧边栏子菜单文字颜色
$menuActiveText:#cbd6e6; // 菜单选中文字的颜色
$subMenuActiveText:#cbd6e6; // https://github.com/ElemeFE/element/issues/12951
// $naveBg:linear-gradient(180deg, rgba(31, 147, 151, 1) 0%, rgba(85, 176, 171, 1) 100%);
$naveBg:#1c2737;
// $menuBg:linear-gradient(180deg, rgba(241, 246, 249, 1) 0%, rgba(218, 234, 242, 1) 100%);
$menuBg:#1c2737;
$menuHover:#32425f;

$subMenuBg:#1c2737; //父级菜单颜色
$subMenuHover:#32425f; //侧边栏鼠标滑过颜色

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
